<p>
  You can subscribe on
  <a href="https://podcasts.apple.com/podcast/id1556555696">Apple Podcasts</a>,
  <a
    href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy80ZDg1NWE4Yy9wb2RjYXN0L3Jzcw"
    >Google Podcasts</a
  >, and
  <a href="https://open.spotify.com/show/1bO1P22yZMrvWMTiCDAdkk">Spotify</a>. If
  you’re using something else, this
  <a href="https://anchor.fm/s/4d855a8c/podcast/rss">RSS link</a> should let you
  add the podcast to whatever app you like. If you’d like to directly download
  this episode, <a href="{{ index .Params 0 }}">click here</a>.
</p>
