{{ define "main" }}

<div class="episodes">
  <h1>{{ .Title }}</h1>

  {{ range (where .Pages ".Params.episode" true).ByPublishDate.Reverse }}

  <div class="episode">
    <div class="cover">
      <a href="{{ .RelPermalink }}">
        {{ with .Resources }} {{ with .GetMatch "cover.jpg" }} {{ $cover :=
        .Resize "250x" }} {{ with $cover }}
        <img src="{{ .Permalink }}" />
        {{ end }} {{ end }} {{ end }}
      </a>
    </div>
    <div class="description">
      <div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>
      <h3>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
      {{ if gt (len .Summary) 0 }}
      <p>{{ .Summary | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <hr />
</div>

{{ end }}
