{{ define "main" }}

<article>
  <div class="episode-header">
    <div class="episode-art">
      <img src="/images/albumart.jpg" alt="" />
    </div>
    <div class="episode-title">
      <div class="div-block">
          <div class="episode-date"></div>
          <h1>{{ .Title }}</h1>
          <div class="episode-summary">
          <p>
            What does Israeli hip-hop tell us about the second Intifada? What does Siberian Punk tell us about the Soviet Union, or 90's comedies about American media and politics?
            Join us every Wednesday as we, Liam, Sam, Sam, and Abram, take a deep dive into pop culture and discuss world history.
          </p>
         </div>
      </div>
    </div>
  </div>
  <div class="badges">
    <h3>Ways to listen</h3>
    <div>
      <a href="https://podcasts.apple.com/podcast/id1556555696"><img src="/images/badges/network_apple_podcasts.png"  alt="Apple Podcasts"></a>
      <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy80ZDg1NWE4Yy9wb2RjYXN0L3Jzcw"><img src="/images/badges/network_google_podcasts.png" alt="Google Podcasts"></a>
      <a href="https://open.spotify.com/show/1bO1P22yZMrvWMTiCDAdkk"><img src="/images/badges/network_spotify.png" alt="Spotify"></a>
      <a href="https://www.stitcher.com/show/gladio-free-europe"><img src="/images/badges/network_stitcher.png" alt="Stitcher"></a>
      <a href="https://overcast.fm/itunes1556555696"><img src="/images/badges/network_overcast.png" alt="Overcast"></a>
      <a href="https://pca.st/l5bx24li"><img src="/images/badges/network_pocket_casts.png" alt="Pocket Casts"></a>
      <a href="https://anchor.fm/s/4d855a8c/podcast/rss"><img src="/images/badges/network_rss.png" alt="RSS"></a>
    </div>
  </div>
  <div class="episode-list episodes">
    <h3>Episodes</h3>
    {{ range where .Pages "Section" "episodes" }}
    <div>
      {{ range .Pages }}
        <div class="episode">
          <div class="cover">
            <a href="{{ .RelPermalink }}">
            {{ with .Resources }}
              {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
                {{ $cover := .Resize "100x" }}
                {{ with $cover }}
                  <img src="{{ .Permalink }}"/>      
                {{ end }}
              {{ end }}
            {{ end }}
            </a>
          </div>
          <div class="description">
            <div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>
            <h3>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
            {{ if gt (len .Summary) 0 }}
              <p>
                {{ .Summary | safeHTML }}
              </p>
           {{ end }}
          </div>
        </div>
      {{ end }}
      <div class="all-episodes">
        <a href="/episodes/">All Episodes</a>
      </div>
    </div>
  {{ end }}
  </div>
</article>
{{ end }}
